* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

[class*="col-"] {
  width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

}


/* For small mobile phone devices*/
@media only screen and (max-width:600px) {

  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.32%;
  }

  .col-s-5 {
    width: 41.65%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.31%;
  }

  .col-s-8 {
    width: 66.64%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.3%;
  }

  .col-s-11 {
    width: 91.63%;
  }

  .col-s-12 {
    width: 100%;
  }
}

body {
  background-color: #20b2aa;
  color: #f1f1f1;
  font-weight: bold;
}

.topnav {
  top: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  height: 90px;
  border-radius: 20px;
  text-shadow: #000000 1px 1px 1px;
  box-shadow: #000000 2px 2px 2px 3px;
}

.topnav a {
  text-decoration: none;
}

.topnav li {

  display: inline;
  float: right;
  padding: 10px;
  margin: 25px;
  color: #20b2aa;

}

header {
  text-align: center;
  font-size: larger;
  text-shadow: #000000 1px 1px 1px;
}

article {
  /* width: 70%; */
  /* float: left; */
  background-color: #f1f1f1;
  color: #20b2aa;
  padding: 20px;
  text-shadow: #000000 0.7px 0.7px 0.7px;
}


h1{
  text-align: center;
  font-size: 60px;
  color: #f1f1f1;
  color: purple;
}

article ul {
  list-style-type: none;
}

p {
  color: purple;

}

p ::first-letter {
  font-size: xx-large;
}

p b:first-child {
  text-decoration: underline 3px;
}

#p2{
  margin-left: 20px;
}


.img1 {
  height: 150px;
  width: 200px;
  float: left;
  margin: 10px;
}

.img2 {
  height: 150px;
  width: 200px;
  float: right;
}

.img3 {
  height: 170px;
  width: 285px;
  float: left;
  margin-right: 0px;
}

section nav {
  /* width: 15%; */
  /* float: left; */
  padding: 2px;
  background-color: purple;
  color: #f1f1f1;
  text-align: left;
  text-shadow: #000000 0.7px 0.7px 0.7px;

}

section nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

section nav a {
  color: #f1f1f1;
}

section nav li {
  margin-bottom: 10px;
  padding: 3px;
  
}

.navimg {
  position: relative;
  top: -13px;
  height: 250px;
  width: 203px;
}

#aside {
  /* width: 15%; */
  /* float: left; */
  background-color: purple;
  color: #f1f1f1;
  font-size: 30px;
  text-align: center;
  text-shadow: #000000 2px 2px 2px;
}

.asidep{
  background-color: purple;
  color: #f1f1f1;
  text-shadow: #000000 1px 1px 1px;
}

embed {
  height: 100px;
  width: 200px;
}

footer {
  background-color: #f1f1f1;
  color: #20b2aa;
  height: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: #000000 0.5px 0.5px 0.5px;
}

#myheader{
  background-color: purple;
  color: #f1f1f1;
  text-shadow: #000000 1px 1px 1px;
}